<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-toolbar color="primary">
        <button mat-icon-button routerLink="/lists"><mat-icon>keyboard_arrow_left</mat-icon></button>
        {{list.title}}
        <span class="example-spacer"></span>
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
        <button mat-icon-button routerLink="/todo/new"><mat-icon>playlist_add</mat-icon></button>
      </mat-toolbar>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-nav-list>
        <mat-list-item *ngFor="let todo of todos">
          <mat-checkbox>&nbsp;</mat-checkbox>
          <span class="example-spacer" routerLink="/todo/edit/{{todo.id}}">{{todo.title}}</span>
          <button mat-icon-button>
            <mat-icon color="warn" (click)="deleteTodo(todo)">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>