<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-toolbar color="primary">
        Dashboard
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/list/new"><mat-icon matTooltip="Create new list">add</mat-icon></button>
        <button mat-icon-button routerLink="/todo/new"><mat-icon matTooltip="Create new todo">playlist_add</mat-icon></button>
      </mat-toolbar>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Filter by List" name="ids" [(ngModel)]="ids" multiple (change)="loadTodos()">
          <mat-option *ngFor="let list of lists" [value]="list.id">
            {{ list.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm">
      <mat-nav-list *ngFor="let todo of todos">
        <h3 mat-subheader>
          {{todo.title}}
          <span class="example-spacer"></span>
          <button mat-raised-button routerLink="/list/edit/{{todo.id}}" color="primary">
            Edit
          </button>
        </h3>
        <mat-list-item *ngFor="let item of todo.items">
          <mat-checkbox (change)="doneTodo(item)" [(ngModel)]="item.done">&nbsp;</mat-checkbox>
          <span class="example-spacer" routerLink="/todo/edit/{{item.id}}" [ngClass]="{'underline': item.done}">{{item.title}}</span>
          <span class="small-font" [ngClass]="{'warning': ((item.expire_date | myDate: 'timestamp') < now) && !item.done}">{{item.expire_date | date:"M-dd-yyyy"}}</span>
          <button mat-icon-button>
            <mat-icon color="warn" (click)="deleteTodo(item)">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>