<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-toolbar color="primary">
        Dashboard
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/list/new"><mat-icon matTooltip="Create new list">playlist_add</mat-icon></button>
      </mat-toolbar>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-nav-list>
        <mat-list-item *ngFor="let list of lists">
          <span class="example-spacer" routerLink="/list/{{list.id}}">{{list.title}}</span>
          <button mat-icon-button>
            <mat-icon color="primary" routerLink="/list/edit/{{list.id}}">edit</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>